<div class="text-center bg-farm-green-dark py-6">
  <div class="max-w-[1150px] mx-auto">
    <strong class="text-white text-sm font-normal">
      Copyright &copy; 2023. Devan Yudistira Sugiharta. All Rights Reserved.
    </strong>
  </div>
</div>
