<div class="relative w-full py-12 lg:py-16 overflow-hidden">
  <div class="max-w-[1150px] mx-auto">
    <div class="mx-4 lg:mx-6 text-center">
      <h1 class="font-bold text-3xl lg:text-4xl">Wise Message for Farmers</h1>
      <div class="p-8 lg:p-12 rounded my-8 shadow-md bg-farm-plank font-normal text-base leading-relaxed">
        be a wise farmer. Farmers are the core of the world's food sector. use your skills perfectly so as to produce maximum results for the food sector. revive the world economy. stabilize the world food problem. utilize the country's potential wisely. Greetings farmer!
      </div>
    </div>
  </div>
</div>
